# Исключить все файлы с расширением .md
*.md

# Но отслеживать файл lib.md даже если он подпадает под исключение выше
!lib.md

# Игнорировать все файлы в директории /Ignor
/Ignor

# Но отслеживать файл !test.md даже если он подпадает под исключение выше
!"\!test.md"
